/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Font */
  --Montserrat: 'Montserrat', sans-serif !important;

  /* Font Weights */
  --Light: 300;
  --Semibold: 500;
  --Bold: 700;

  /* Colors */
  --Marigold: #ECA72C;
  --Smoke: #2B2B2B;
  --White: #FFFFFF;
  --Black: #000000;
}

body {
  font-family: var(--Montserrat) !important;
}

.row {
  margin: 10px;
}

/* ------ HEADER (NAVBAR) ------ */
header h1 {
    font-family: var(--Montserrat);
    font-weight: 800;
    font-style: italic;
    color: var(--Marigold);
}

header .row {
  margin: 0;
  padding: 10px;
  background-color: var(--Smoke) !important;
  color: var(--White) !important;
}

header .col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .btn {
  height: 70%;
  background-color: var(--Marigold);
  border: none;
  font-weight: var(--Bold);
  font-size: 1.5em;
  transition: color 0.8s ease, background-color 0.8s ease;
}

header .btn:hover {
  background-color: var(--White);
  color: var(--Marigold);
}

header label {
  width: 100%;
  text-align: center;
}
/* ------ END HEADER ------ */

/* ------ MODULE ------ */
.header-container {
  width: 60%;
  text-align: center;
  margin: auto;
}

.header-container hr {
  border: 2px solid var(--Smoke);
}

.module-header {
  text-transform: uppercase;
  font-family: var(--Montserrat);
  font-weight: var(--Bold);
  color: var(--Marigold);
  /* font-size: 1.5em; */
}

.module-container {
  border: 4px solid var(--Smoke);
  border-radius: 10px;
  margin: 10px;
}

.btn {
  height: 90%;
  background-color: var(--Marigold);
  border: none;
  font-weight: var(--Bold);
  font-size: 1.5em;
  border: 2px solid var(--White);
  transition: color 0.8s ease, border 0.8s ease, background-color 0.8s ease;
}

.btn:hover {
  background-color: var(--White);
  color: var(--Marigold);
  border: 2px solid var(--Marigold);
}


#table th{
  font-weight: var(--Bold);
}

.module-subheader{
  text-align: center;
}

#hardware-container p{
  text-align: center;
}

/* ------ END MODULE ------ */

/* ------ STORAGE ------- */
.percentage-container {
  max-width: 60%;
  margin: 0px auto 10px auto;
  border: none;
}

.percentage-used {
  background-color: var(--Marigold) !important;
  color: var(--White) !important;
  padding: 0px !important;
  text-align: center !important;
}

.nav-tabs {
  border-bottom: 1px solid var(--Marigold) !important;
}

.nav-link {
  border-top-right-radius: 0 !important;
  border-right: 1px solid var(--Smoke) !important;
}

.nav-link:hover {
  color: var(--Marigold) !important;
}

.nav-link.active {
  border-color: var(--Marigold) var(--Marigold) #fff !important;
  color: var(--Marigold) !important;
}

.tab-pane.active {
  border: 1px solid var(--Marigold) !important;
  border-top: 0 !important;
  padding: 20px;
  margin-bottom: 10px;
}

.tab-pane p {
  text-align: center;
}
/* ------ END STORAGE ------- */

/* ------ HARDWARE ------ */
pre {
  max-height: 300px;
  max-width: 100%;
  /* overflow: scroll; */
  border: 2px solid var(--Smoke);
}
/* ------ END HARDWARE ------ */

/* ------ PROCESSES ------ */
.table-headers {
  font-weight: var(--Bold);
}

#process-table-container {
  /* max-height: 400px; */
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
/* ------ END PROCESSES ------ */

/* ------ COMMAND ------ */
#command-response {
  white-space: pre-wrap;
  text-align: left;
  height: 400px;
  background-color: var(--Smoke);
  overflow: auto;
  color: var(--Marigold);
  border-radius: 10px;
  padding: 40px;
}
/* ------ END COMMAND ------ */
