/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Font */
  --Montserrat: 'Montserrat', sans-serif !important;

  /* Font Weights */
  --Light: 300;
  --Semibold: 500;
  --Bold: 700;

  /* Colors */
  --Marigold: #ECA72C;
  --Smoke: #2B2B2B;
  --White: #FFFFFF;
  --Black: #000000;
}

body {
  font-family: var(--Montserrat) !important;
}

.row {
  margin: 10px;
}

/* ------ HEADER (NAVBAR) ------ */
header h1 {
    font-family: var(--Montserrat);
    font-weight: 800;
    font-style: italic;
    color: var(--Marigold);
}

header .row {
  margin: 0;
  padding: 10px;
  background-color: var(--Smoke) !important;
  color: var(--White) !important;
}

header .col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .btn {
  height: 70%;
  background-color: var(--Marigold);
  border: none;
  font-weight: var(--Bold);
  font-size: 1.5em;
  transition: color 0.8s ease, background-color 0.8s ease;
}

header .btn:hover {
  background-color: var(--White);
  color: var(--Marigold);
}

header label {
  width: 100%;
  text-align: center;
}
/* ------ END HEADER ------ */

/* ------ MODULE ------ */
.header-container {
  width: 60%;
  text-align: center;
  margin: auto;
}

.header-container hr {
  border: 2px solid var(--Smoke);
}

.module-header {
  text-transform: uppercase;
  font-family: var(--Montserrat);
  font-weight: var(--Bold);
  color: var(--Marigold);
  /* font-size: 1.5em; */
}

.module-container {
  border: 4px solid var(--Smoke);
  border-radius: 10px;
  margin: 10px;
}

.btn {
  height: 90%;
  background-color: var(--Marigold);
  border: none;
  font-weight: var(--Bold);
  font-size: 1.5em;
  border: 2px solid var(--White);
  transition: color 0.8s ease, border 0.8s ease, background-color 0.8s ease;
}

.btn:hover {
  background-color: var(--White);
  color: var(--Marigold);
  border: 2px solid var(--Marigold);
}


#table th{
  font-weight: var(--Bold);
}

.module-subheader{
  text-align: center;
}

#hardware-container p{
  text-align: center;
}
/* ------ END MODULE ------ */
